{%- if page.categories contains 'tech' -%} 
<div class="article_license">
  <p>
    原文作者：<a target='_blank' href="{%- if page.post.original -%}{{ site.baseurl }}/about.html{%- else -%}
    {%- if page.post.author_url == nil -%}{{ page.post.url }}{% else %}{{ page.post.author_url }}{%- endif -%}
    {% endif %}">
      {%- if page.post.original -%}{{ site.author }}{%- else -%}{{ page.post.author }}{% endif %}      
    </a><br>   
    原文链接：
    {%- if page.post.original -%}
    <a target="_blank" href="{{ site.fix_url | append: page.url }}">{{ site.fix_url | append: page.url | url_decode }}</a><br>                     
    发表日期：{{ page.date | date: "%Y.%m.%d %H:%M" }}<br>
    版权声明：<strong>本文为博主原创文章</strong>遵循      
    <a target="_blank" href="{%- if page.post.license.url == nil -%}{{ site.article_license.url }}{%- else -%}{{ page.post.license.url }}{%- endif -%}">
      {%- if page.post.license.name == nil -%}{{ site.article_license.name }}{%- else -%}{{ page.post.license.name }}{%- endif -%}</a>       
    版权协议，转载请附上原文出处链接和本声明
    <br>          
    {%- else -%}
    <a target="_blank" href="{{ page.post.url }}">{{ page.post.url }}</a><br>         
    {%- endif -%}    
  </p>
</div>
{%- endif -%}