<div class="tags">
    <div class="container">
        {%- if tags -%}
        <span class="icon is-small">
            <i class="fa fa-tags" aria-hidden="true"></i>
        </span>
        {%- endif -%}
        {%- for tag in tags -%}
        <a href="{{ site.baseurl }}{{ tag | url_encode | downcase | prepend: '/tag/'}}">{{ tag }}</a>
        {%- endfor -%}
        {%- if date%}
        <span class="spot">•</span>
        <span class='formated-date' data-time="{{ date | date: '%Y/%m/%d %H:%M:%S' }}">
            {{ date | date: "%Y-%m-%d" }}
        </span>
        {%- if page.title != nil  -%}
        <span class="spot">•</span>
        <span>
            阅读时长 &nbsp;          
            {%- assign duration = content | number_of_words | divided_by:180 | round -%}
            {%- if duration < 1%}
            {%- assign duration = '小于1' -%}
            {%- endif -%}
            {{ duration }}分钟
        </span>        
        {%- endif -%} 
        {%- endif -%}               
    </div>
</div>