// main
.main {
  border-radius: 0.2rem !important;
  box-shadow: 1px 6px 29px -2px rgba(0, 0, 0, 0.1) !important;
}

// nav
.navbar-item {
  img {
    max-height: 3.75rem !important;
  }

  h1 {
    color: $minor-color;
    font-size: 28px;
    font-family: "Microsoft Yahei";
  }
}


.navbar-link::after {
  border-color: $base-color !important;
}

.navbar-menu {
  @include media-max(899) {
    // box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1) !important;
  }

  padding: 0 !important;
}

.navbar-burger {
  margin-top: auto;
  margin-bottom: auto;
}

// title
.title {
  margin-bottom: 2.8rem !important;
}

// tag
.tags {
  margin-bottom: 1.2em !important;

  .icon {
    margin-right: 5px;
  }

  a,
  .container {
    color: #7a8b9a !important;
    margin-right: 5px !important;
    font-size: .875rem !important;
    font-family: Segoe UI, "Microsoft Yahei" !important;
  }

  a:hover {
    text-decoration: none;
    color: $base-color !important;
  }

  .spot {
    margin: 0 10px;
    color: $base-color;
  }
}

// post
.post-footer {

  display: flex;
  justify-content: flex-end;
  padding-top: 6rem;
  padding-bottom: 2em;

  a {
    color: $base-color !important;

    &:hover {
      color: $minor-color !important;
    }
  }

  .post-previous {
    margin-right: 20px;
  }
}

// img
.sketch-article-img img {
  margin-bottom: 1em;
  border-radius: 0.2rem !important;
  box-shadow: 1px 6px 29px -2px rgba(0, 0, 0, 0.1) !important;
  height: 8rem !important;
  object-fit: cover;
  cursor: pointer;

  @include media-max(450px) {
    height: 6rem !important;
  }
}

.sketch-media-music-kg-right-content {
  color: #7a8b9a !important;
  font-size: .875rem !important;
}

.sketch-media-music-kg {
  a {
    margin: 0px !important;
    background-color: #f9f9f9;
    border-radius: 0.8rem !important;
    box-shadow: 1px 6px 29px -2px rgba(0, 0, 0, 0.1) !important;

    &:hover {
      cursor: pointer;
    }

    .sketch-media-music-kg-content {

      .qmkg-audio {
        margin-top: 20px;
        width: 75%;
        height: 30px;

        audio {
          width: 100%;
          height: 100%;
        }

        @include media-max(500px) {
          margin-top: 4%;
        }
      }


      @include media-max(400px) {
        font-size: 0.9em;
      }

      padding: 20px;
      margin: auto;

      @include media-max(500px) {
        padding: 6px 16px;
      }

      .qmkg-title {
        margin-bottom: 10px;

        @include media-max(400px) {
          margin-bottom: 8px;
        }

        color: black;
      }

      .qmkg-level {
        color: #f7b056;
        font-weight: bold;
      }
    }

    .sketch-media-music-kg-img {
      padding: 0px !important;
      max-width: 8rem !important;
      max-height: 8rem !important;
      height: 8rem !important;
      border-top-left-radius: 0.8rem !important;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0.8rem !important;
      object-fit: cover;
      cursor: pointer;

      @include media-max(450px) {
        max-width: 6rem !important;
        max-height: 6rem !important;
      }
    }

    .sketch-media-music-kg-content {
      position: relative;

      .qmkg-logo {
        height: auto;
        width: 40px;
        position: absolute;
        right: 3%;
        top: 60%;
        opacity: 0.75;
        border-radius: 25%;

        @include media-max(450px) {
          right: 5%;
          top: 60%;
          width: 30px;
        }

        @include media-max(400px) {
          right: 3%;
          top: 70%;
          width: 25px;
        }
      }
    }

  }

}

.post-img img {
  margin-bottom: 1em;
  border-radius: 0.2rem !important;
  box-shadow: 1px 6px 29px -2px rgba(0, 0, 0, 0.1) !important;
  width: 100% !important;
  object-fit: cover;

  @include media-min-max(0, 400px) {
    height: 8rem !important;
  }

  @include media-min-max(400px, 500px) {
    height: 12rem !important;
  }

  @include media-min-max(500px, 600px) {
    height: 14rem !important;
  }

  @include media-min-max(600px, 800px) {
    height: 16rem !important;
  }

  @include media-min-max(600px, 4000px) {
    height: 18rem !important;
  }
}

.avatar {
  margin-left: 8px;
  padding: 8px !important;
  cursor: pointer;

  img {
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    object-fit: cover;
  }
}

.has-dropdown {
  .navbar-dropdown {
    font-size: 15px;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1) !important;

    .icon-dropdown svg {
      margin-right: 10px;
      font-size: 20px !important;
    }
  }
}


// footer
.footer {
  background-color: white;

  .container .content p {
    font-size: .75rem !important;
    color: #7a8b9a !important;
  }
}

// back-to-top
.back-to-top {

  @include media-max(800px) {
    overflow: hidden;
    opacity: 0 !important;
  }

  cursor: pointer;
  position: fixed;
  width: 48px;
  height: 48px;
  right: 25px;
  bottom: 25px;
  z-index: 10000;
  opacity: 0;

  a:hover {
    background-color: $base-color;
    box-shadow: 5px 4px 14px 6px $base-shadow-color !important;
  }

  .icon-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: $minor-color;
    box-shadow: 5px 4px 14px 6px $minor-shadow-color !important;
    overflow: hidden;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    border-radius: .2rem;

    ion-icon {
      position: absolute;
      top: 9px;
      left: 50%;
      transition: .15s ease 50ms;

      &:hover {
        transform: translateX(-50%);
      }
    }

    .back-to-top-text {
      display: inline-block;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: .05em;
      line-height: 1em;
      transition: transform .35s cubic-bezier(.165, .84, .44, 1);

      &:hover {
        transform: translateY(6px);
      }
    }
  }
}

.sketch-container {
  padding: 2rem 0;
  border-bottom: 1px solid #f4f5f9;
  border-radius: .22rem;
}

// post sketch
.post_article {

  a {
    font-size: 1.25rem !important;

    &:hover {
      color: $base-color !important;
    }
  }

  .content {
    margin-top: 1rem !important;

    .excerpt p,
    .excerpt {
      color: #333e48 !important;
      font-size: .875rem !important;

      &:hover {
        cursor: pointer;
      }
    }

    .tags .container {

      span,
      a {
        font-size: .875rem !important;
      }
    }
  }
}

// breif sketch
.post_breif {

  @include media-max(500px) {
    padding-bottom: 1rem;
  }

  .breif-content {
    @include media-max(500px) {
      background-color: white;
      border-radius: 6px;
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
      color: #4a4a4a;
      display: block;
      padding: 1.25rem !important;
      position: relative;
      width: 85%;
      height: 80%;
      background: #fff;
      box-shadow: 3px 4px 20px #ececec;
      border-radius: 25px;
      margin-left: auto;
    }

    .content {
      @include media-max(500px) {
        align-items: center;
        padding: 0 25px;
      }

      .tags {
        @include media-max(500px) {
          display: none;
        }

        display: flex;
      }

      display: flex;
      flex-direction: column;

      .column {
        display: flex !important;
        justify-content: center;
        align-items: center;
      }

      .breif-tag {
        margin-top: 25px !important;

        svg {
          color: $base-color !important;
        }
      }

      .breif-footer {
        @include media-min(500px) {
          display: none;
        }

        font-size: smaller;
        color: #161616;
        margin-left: auto;
        margin-right: 5%;
        margin-top: 10px;
        color: #7a8b9a !important;

        a {
          color: $base-color !important;
          margin-left: 5px;

          &:hover {
            color: $minor-color !important;
          }
        }
      }

      .title-content {

        font-size: .95rem !important;
        position: relative;
        margin-bottom: 1rem;

        @include media-max(500px) {
          margin-bottom: 0px;
        }

        .quote-left {
          left: -50px;
        }

        .quote-right {
          right: -50px;
        }

        .breif-quote {
          @include media-min(500px) {
            display: none;
          }

          position: absolute;
          display: block;
          top: -10px;
          width: 60px;
          height: 60px;
          font-size: 40px;
          line-height: 60px;
          color: #0bd2b4d1;
          font-family: sans-serif;
          text-align: center;
          z-index: 1;
        }
      }
    }

    @include media-max(500px) {
      &:after {
        position: absolute;
        display: inline-block;
        bottom: -9px;
        right: 60px;
        width: 0;
        height: 0px;
        content: '';
        border-style: solid;
        border-width: 10px;
        border-color: #fff #fff transparent transparent;
        transform: rotate(135deg);
        box-shadow: 9px -12px 10px -1px #eeeeee;
      }
    }
  }


}

// pagination
.pagination {
  margin-top: 40px !important;

}

.pagination-link {
  border: 0px !important;
  background-color: #f4f5f9 !important;

  &:hover {
    color: $base-color !important;
  }

  &.is-current {
    background-color: $base-color !important;
    border-color: $base-color !important;
    box-shadow: -1px 4px 14px 0px $base-shadow-color;

    &:hover {
      color: $minor-color !important;
    }
  }

  &.pagination-next,
  &.pagination-previous {
    &:hover {
      background-color: $base-color !important;
      border-color: $base-color !important;
      box-shadow: 1px 2px 16px 1px $base-shadow-color;
      color: #fff !important;
    }
  }
}

//tag_cloud
.tag-cloud {
  .tag-cloud-tags {
    text-align: center;
    font-family: Athelas, STHeiti, Microsoft Yahei, serif;
    border: 1px solid #f5f5f5;
    position: relative;
    padding: 30px 10px;
    margin: 30px 0;
    border-radius: 5px;
    border-radius: 0.8rem !important;
    box-shadow: 0px 6px 65px -30px rgba(0, 0, 0, 0.1) !important;

    &::before {
      background: $base-color;
      bottom: 100%;
      color: white;
      content: "All Tags";
      display: inline-block;
      font-size: 15px;
      font-weight: 700;
      left: -1px;
      letter-spacing: 1px;
      margin-left: 1px;
      margin-bottom: 10px;
      padding: 5px 8px;
      position: absolute;
      text-transform: uppercase;
      vertical-align: top;
      border-radius: 0.2rem !important;
      box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.1) !important;
    }

    .current-tag {
      color: $base-color;
      font-size: 2rem !important;

      &:hover {
        color: $minor-color !important;
      }
    }

    a {
      color: $minor-color;
      display: inline-block;
      position: relative;
      margin: 5px 10px;
      word-wrap: break-word;
      transition-duration: .2s;
      transition-property: transform;
      transition-timing-function: ease-out;

      &:hover {
        color: $base-color !important;
      }
    }
  }
}

// category
.category-head {
  margin-bottom: 3rem;
}

.category-posts {
  .head-year {
    font-weight: 500;
    position: relative;
    margin: 30px 0 20px;
    font-size: 1.3em !important;
    color: #444;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: Microsoft Yahei, "微软雅黑", "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;

    &::after {
      font-weight: 600;
      position: absolute;
      top: 0;
      left: 80px;
      content: '#';
      color: $base-color;
    }
  }

  .month-list {
    list-style: none;
    overflow: hidden;
    padding-left: 1.2rem;

    @include media-max(500px) {
      padding-left: .8rem;
    }

    margin-left: 0px !important;

    .month {
      margin: .6em 0;
      line-height: 1.8em;
      margin-bottom: 12px !important;

      .head-month {
        cursor: pointer;

        .head-month-post-num {
          margin-left: .4rem;
          font-weight: 500;
        }
      }

      .day-list {
        list-style: none;
        overflow: hidden;
        padding-left: 1.2rem;

        @include media-max(500px) {
          padding-left: .8rem;
        }

        margin-left: 0px !important;

        li {
          margin: .6em 0;
          line-height: 1.8em;
          color: #8c8787;
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          border-radius: 0.2rem !important;
          box-shadow: 3px 3px 11px 0px #f3f1f1;
          padding: 10px;

          .day {
            width: 300px;
            max-width: max-content;
            cursor: pointer;
            height: 100%;
          }

          .day-content {

            padding-left: .4rem;

            .excerpt {
              border: none !important;
              color: $minor-color;
              font-weight: 500;

              &:hover {
                color: $base-color !important;
                cursor: pointer;
              }
            }

            .day-post-content {

              .day-post-tags {
                a {
                  color: #7a8b9a !important;
                  margin-right: 5px !important;
                  font-size: .875rem !important;
                  font-family: Segoe UI, "Microsoft Yahei" !important;

                  &:hover {
                    color: $base-color !important;
                    cursor: pointer;
                  }
                }
              }

              p {
                font-size: 0.9rem !important;
                margin: .5rem 0 .5rem;
                color: #333e48 !important;

              }
            }
          }

        }
      }
    }
  }
}