#toc {
  margin-bottom: 30px;
  padding: 16px;
  border: 1px solid #e8e8e8;
  border-radius: 0.2em;
  box-shadow: 11px 14px 20px -15px rgba(0, 0, 0, 0.1) !important;
  .toc-link {
    color: $content-p-color !important;
    &:hover {
      color: $base-color !important;
    }
  }
}

.toc-suspend {
  @include media-min(900px) {
    position: fixed;
    background-color: white;
    z-index: 100;
    width: 320px;
    top: 20px;
    left: 65%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
.toc-sub-ol {
  display: none;
}
span.show-sub {
  margin-left: 12px;
  cursor: pointer;
  font-weight: bold;
  color: $base-color;
}