#toc {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 0.2em;
  box-shadow: 9px 11px 20px 0px rgba(0, 0, 0, 0.15) !important;
  .toc-link {
    color: $content-p-color !important;
    &:hover {
      color: $base-color !important;
    }
  }
}

.toc-suspend {
  @include media-min(900px) {
    position: fixed;
    background-color: white;
    z-index: 100;
    min-width: 280px;
    max-width: 320px;
    max-height: 1000px;
    top: 20px;
    left: 63%;
    overflow-x: scroll;
    overflow-y: scroll;
  }
}
.toc-sub-ol {
  display: none;
}
span.show-sub {
  margin-left: 12px;
  cursor: pointer;
  font-weight: bold;
  color: $base-color;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}