<a class="title" href="{{ sketch.url }}">{{ sketch.post.title }}</a>
<div class="content">
  <div class='columns'>
    <div class="column">
      <a class="excerpt" href="{{ sketch.url }}">
        {{ sketch.excerpt | truncate:400,'...' }}
      </a>
      {% assign tags = sketch.tags %}
      {% assign date = sketch.date %}
      {% include component/tag-and-date.html %}
    </div>
    {% if sketch.head-img %}
    <div class="sketch-article-img column is-one-quarter image">
      <a href="{{ sketch.url }}">
        {% assign head-img = sketch.head-img %}
        {% include component/head-img.html %}
        {% if head-image %}
        <img src='{{ head-image }}'>
        {% endif %}
      </a>
    </div>
    {% endif %}
  </div>
</div>