<div class='box breif-content'>
    <div class="content">
        <a class='title-content' href="{{ sketch.url }}">
            <span class="breif-quote quote-left">“</span>
            {{ sketch.post.title }} - {{ sketch.post.content}}             
            <span class="breif-quote quote-right">”</span>                  
        </a>          
        {% if sketch.date %}              
        <span class="breif-tag-date">
            {% for tag in tags %}
            <a href="{{ tag | url_encode | downcase | prepend: '/tag/'}}">{{ tag }}</a>
            {% endfor %}
            发表于 {{ sketch.date | date: "%Y-%m-%d" }}
        </span>
        {% endif %}   
    </div>
</div>
</div>