---
layout: page
---
<div class="category-head">
    {% for cat in site.custom_categories %}
    {% if cat[0] == page.title %}
    <h1 class="title">{{ cat[0] | upcase }}</h1>
    <p>{{ cat[1].head-title }}</p>
    {% endif %}
    {% endfor %}
</div>
<div class="category-posts">
    {% assign tmpYear = '' %}
    {% assign tmpMonth = '' %}
    {% for post in  page.posts %}
    {% assign year = post.date | date: '%Y' %}
    {% assign month = post.date | date: '%m' %}
    {% assign day = post.date | date: '%d' %}

    {% if year != tmpYear %}
    {% unless forloop.first %}
    </ul></li></ul>
    {% endunless %}
    <h2 class="head-year" onclick="$(this).next().slideToggle(400)">{{ year }}&nbsp;年</h2><ul class="month-list">     
    {% endif %}

    {% if month != tmpMonth %}     
    {% unless forloop.first or tmpYear != year %}
    </li></ul>
    {% endunless %}
    <li class="container month">
    <span class="head-month" onclick="$(this).next().slideToggle(400)">{{ month }}&nbsp;月<span class="head-month-post-num"></span></span>   
    <ul class="day-list">
    {% assign tmpMonth = month %}        
    {% endif %}   

    {% if year != tmpYear %}
    {% assign tmpYear = year %}   
    {% endif %}
    <li>
        {{ day }}日: 
        {% case post.layout %}
            {% when 'media' %}
            <a class="excerpt" href="{{ post.media.link }}">
            {% case post.media.type %}
            {% when 'qmkg' %}
            我在「 <span style="color: #ff003a;">全民k歌</span> 」唱了一首
            {% when 'changba' %}
            我在「 <span style="color: #ff5047;">唱吧</span> 」唱了一首                       
            {% endcase %}
            {{ post.title }}</a>
            <p>{{ post.media.content | strip_html | truncate:75, '...'}}</p>

            {% when 'post' %}
            <a class="excerpt" href="{{ post.url }}">{{ post.post.title }}</a>
            {% case post.post.type %}                        
            {% when 'article' %}            
            {% assign post-content = post.excerpt %}
            {% when 'breif' %}
            {% assign post-content = post.post.content %}
            {% endcase %}
            <p>{{ post-content | strip_html | truncate:75, '...' }}</p>
        {% endcase %}        
    </li>
    {% endfor %}
    </ul></li></ul>
</div>