---
layout: page
---
<article class="post">
  {% if page.title %}
  <h1 class="title is-spaced">{{ page.post.title | escape }}</h1>
  {% endif %}
  {% assign tags = page.tags %}
  {% assign date = page.date%}
  {% include component/tag-and-date.html %}
  <div class='post-img'>
    {% assign head-img = page.head-img %}
    {% include component/head-img.html %}
    {% if head-img %}
    <img src='{{ head-img }}'>
    {% endif %}
  </div>
  {% if page.categories contains 'tech' and page.post.original %} 
    <div class="article_license">
      <p>
        <strong>版权声明：本文为博主原创文章，遵循</strong> 
        <a target="_blank" href="{{ site.article_license.url }}">{{ site.article_license.name }}</a>       
        <strong>版权协议，转载请附上原文出处链接和本声明。</strong>    
        <br>    
        <strong>本文链接：</strong> 
        <a target="_blank" href="{{ site.domain }}{{ page.url | url_decode }}">{{ site.domain }}{{ page.url | url_decode }}</a>        
      </p>
    </div>
  {% endif %}
  <div class='post-content'>
    <div id="toc"></div>
    {% if page.post.type == "brief" %}
    <p>{{ page.post.content }}</p>
    {% endif %}
    {{ content }}
  </div>

  <div class='post-footer'>
    {% assign c = 0 %}
    {% for post in site.posts %}
    {% if c == 1 and post.layout == 'post' %}
    {% assign c = 0 %}
    <a class='post-previous' href="{{ site.baseurl }}{{ post.url }}"> &nbsp;←  {{ post.title }}</a>
    {% endif %}
    {% if post == page %}
    {% assign c = 1 %}
    {% endif %}
    {% endfor %}

    {% assign c = 0 %}
    {% for post in site.posts reversed%}
    {% if c == 1 and post.layout == 'post' %}
    {% assign c = 0 %}
    <a class='post-next' href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} →&nbsp;</a>
    {% endif %}
    {% if post == page %}
    {% assign c = 1 %}
    {% endif %}
    {% endfor %}
  </div>

</article>
{% if site.utterances %}
<div id='utterances' class="utterances-comments-header">
  <div>
    <div>Comments </div>
    <strong>[ If it doesn't show up, please wait a moment... ]</strong>&nbsp;
  </div>
  {% if page.post.title %}
  {% assign og-title = page.post.title %}
  {% elsif page.media.title %}
  {% assign og-title = page.media.title %}
  {% elsif page.title %}
  {% assign og-title = page.title %}  
  {% else %}
  {% assign og-title = site.sub_title %}
  {% endif %}
  {% assign og-title = og-title | append:' | ' | append:site.title %}
  <a target="_blank" href="https://github.com/{{ site.utterances.repo }}/issues?q={{ og-title }}">Issue Page</a>
</div>
{% include utterances.html %}
{% endif %}
{% if site.gitment.name %}
{% include gitment.html %}
{% endif %}
